.intro {
    text-align: center;
    color: white;
}

body {
    background-color: rgba(28, 36, 41, 0.767);
}

.answer {
    text-align: center;
    background-color:coral;
    
}

.searchbar {
    width: 300px;
}

img {
    height: 400px;
    width: 300px;
    margin: 10px;
}

.higherorlower {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.infotext {
    font-size: 18px;
    background-color: yellowgreen;
}

.nextgame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    
}